<footer class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        &copy; 2016 Oscar González
      </div>
    </div>
  </div>
</footer><!--/#footer-->