<header id="header" role="banner">

  <div class="container">
    <div id="navbar" class="navbar navbar-default">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li style="background-color: rgb(182, 36, 0);">
            <a href="/#main-slider"><span style="color: white;" class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
          </li>
          <li><a href="/#Profile">Profile</a></li>
          <li><a href="/#Experiences">Experiences</a></li>
          <li><a href="/#Abilities">Abilities</a></li>
          <li><a href="/#Projects">Projects</a></li>
          <li><a href="/#Contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</header><!--/#header-->